.header-button {
	background: transparent;
	border: none;
	color: rgba(255, 255, 255, 0.67);
	/* font-size: 1rem; */
	/* font-weight: 200px; */
}

.header-button:hover {
	color: white;
	text-decoration: none;
}

.header-a {
	color: rgba(255, 255, 255, 0.67);
	/* font-size: 1rem;
	font-weight: 200px; */
}

.header-a:hover, .header-a:active, .header-a:focus {
	color: white;
	text-decoration: none;
}

.header-a-main {
	color: white;
	/* font-size: 1rem;
	font-weight: 200px; */
}

.header-a-main:hover, .header-a-main:active, .header-a-main:focus {
	color: white;
	text-decoration: none;
}